h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}

body {font-family: "Open Sans"}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
li{list-style: none;}
a{background-color:transparent}a:active,a:hover{outline-width:0}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
.w3-margin{margin:16px!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
